body {
    font-family: Arial, sans-serif;
    background-color: #ADD8E6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
  }

  h1{
    margin:0;
   padding:150px 0 50px 0;
   font-family: 'Oswald', sans-serif;
   font-size:54px;}


  
  .container {
    text-align: center;
  }
  
  .choices {
    margin-bottom: 20px;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 10px;
    background-color: yellow;
  }
  .result {
    font-size: 24px;
  }
  .timer-container {
    font-size: 24px;
    text-align: center;
  }
  .hello {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  .board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 2px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    align-items: center;
}


.cell:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}



  